.jumbotron {
  width: 100vw;
	min-height: 400px;
	display: flex;
	align-items: center;

	background-position: center;
	background-size: cover;	
	background-repeat: no-repeat;

	@include breakpoint-down(medium) {
		max-height: 400px;
	}

	&-content {
		width: 50%;
		h1 {
			font-weight: bold;
			color: #F27405;
			font-size: 35px;
			margin-bottom: 20px;
		}
		p {
			color: #731702;
			font-size: 22px;
			margin-bottom: 10px;
		}

		@include breakpoint-down(medium) {
			width: 100%;
			h1 {
				font-size: 20px;
			}
			p {
				font-size: 15px;
			}
			.btn-primary {
				font-size: 10px;
			}
		}
	}
}